/* Global */

body {
    background-image: url(../images/background.jpg);
}

/* Container */

.container {
    background-color: coral;
    width: 80%;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    border: black 5px solid;
}

/* Text */

h1 {
    font-size: 100px;
    color: rebeccapurple;
    padding-top: 30px;
}

#time-remaining {
    font-size: 30px;
    padding-top: 20px;
}

#question {
    font-size: 50px;
}

#answers {
    font-size: 70px;
}

/* Buttons */

button {
    margin-top: 150px;
    padding: 50px 100px 50px 100px;
    font-size: 50px;
    background-color: coral;
    color: rebeccapurple;
    border: black 5px solid;
}